/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori-Icons';
  src:
    url('https://opel22.github.io/SAC/SAP-icons.woff2') format('woff2'),
    url('https://opel22.github.io/SAC/SAP-icons.woff') format('woff'),
    url('https://opel22.github.io/SAC/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
